body.path-search .main-container{
  background: linear-gradient(to bottom, #3F2683 0px, #3F2683 200px, #3F2683 400px, #EBE255 400px, #EBE255 600px, #fff 600px, #fff 1200px, #3F2683 1200px, #3F2683 1400px, #EBE255 1400px, #EBE255 1600px, #fff 1600px, #fff 2200px, #3F2683 2200px, #3F2683 2400px, #EBE255 2400px, #EBE255 2600px, #fff 2600px, #fff 3200px, #3F2683 3200px, #3F2683 3400px, #EBE255 3400px, #EBE255 3600px, #fff 3600px, #fff 4200px );
}


body.path-search h1.page-header{
  color:#fff;
}

body.path-search .region-content{
  background:#fff;
}

body.path-search .region-content form.search-form{
  padding:20px 0px 0px 0px;
}

body.path-search .region-content form.search-form a.search-help-link{
  display:none;
}

body.path-search .region-content .input-group{
  width:70%;
  margin: 0px auto;
}

body.path-search .input-group input{
  color: #3F2683;
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

body.path-search .input-group input[type=search]{
  border: none;
  border-radius: 0;
  height: 58px;
  font-size:25px;
}

body.path-search .input-group input[type=search].form-control{
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(63,38,131,1);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(63,38,131,1);
  box-shadow: inset 0px 0px 2px 0px rgba(63,38,131,1);
}

body.path-search .input-group input[type=search].form-control:focus{
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(63,38,131,1);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(63,38,131,1);
  box-shadow: inset 0px 0px 3px 1px rgba(63,38,131,1);
}

body.path-search .input-group button.btn-primary{
  background: #EBE255;
  border: 1px solid #EBE255;
  border-radius: 0;
  height: 58px;
  width: 58px;
  margin-left: 0px;
}

body.path-search .input-group button.btn-primary span.glyphicon-search{
  color:#3F2683;
  font-size:30px;
}

body.path-search input::-webkit-input-placeholder {
  color: #747474 !important;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

body.path-search input:-moz-placeholder { /* Firefox 18- */
  color: #747474 !important;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

body.path-search input::-moz-placeholder {  /* Firefox 19+ */
  color: #747474 !important;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

body.path-search input:-ms-input-placeholder {
  color: #747474 !important;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

/* Search Results */

body.path-search .region-content h2{
  padding:0px 25px 7px 25px;
  color: #747474;
  font-style: italic;
  font-weight: 600;
  font-size:20px;
  text-align: center;
}

body.path-search .region-content form + h3{
  padding:0px 25px 20px 25px;
  color: #747474;
  font-style: italic;
  font-weight: 600;
  font-size:20px;
  text-align: center;
}

body.path-search .region-content h2:after{
  content: "...";
}

body.path-search .region-content ol{
	margin: 0px;
  list-style-type: none;
  padding-bottom: 5px;
}

body.path-search .region-content ol li{
  padding: 5px 10px 10px 15px;
  margin: 10px 15px 10px 0px;
}

body.path-search .region-content ol li:nth-child(odd){
  background: #f5f5f5;
}

body.path-search .region-content ol li h3  a{
  color:#3F2683;
}

body.path-search .region-content ol li p{
  color:#747474;
}

/* Pagination */

body.path-search .region-content nav.pager-nav ul.pagination > li > a{
  color: #747474;
}

body.path-search .region-content nav.pager-nav ul.pagination > .active > a{
  background-color: #3F2683;
  border-color: #3F2683;
  cursor: pointer;
  color: #fff;
}

body.path-search .region-content nav.pager-nav ul.pagination > li > a:hover{
  color: #3F2683;
  background-color: #EBE255;
  border-color: #EBE255;
}


/* Advanced Search */
body.path-search .search-advanced{
  width: 96%;
  margin: 0 auto;
}

#edit-lang-fieldset,
#edit-types-fieldset{
  display: none;
}
